* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

$viewport-phone: 95%;
$viewport-tablet: 564px;
$viewport-desktop: 960px;

.wrapper {
  margin: 90px auto 20px;
  width: $viewport-phone;
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
}

h1 {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

@media screen and (min-width: $viewport-tablet + 1px) and (max-width: $viewport-desktop - 1px) {
  .wrapper {
    width: ($viewport-tablet) - 25px;
  }
}

@media screen and (min-width: $viewport-desktop + 1px) {
  .wrapper {
    width: ($viewport-desktop) - 60px;
    margin: 150px auto 30px;
    min-height: calc(100vh - 220px);
  }
}
