.Manufacturers {
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  span.MuiButtonBase-root.MuiTableSortLabel-root {
    font-weight: bold;
  }
  .MuiCircularProgress-root {
    width: 100px !important;
    height: 100px !important;
  }
}

@media screen and (min-width: 961px) {
  .Manufacturers {
    width: 100%;
  }
}
