.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #ffffff;
  box-shadow: 9px 9px 18px #cccccc, -9px -9px 18px #ffffff;
  .mobile_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px rgba(224, 224, 224, 1);
    > a > img {
      width: 46px;
    }
  }
  .desktop_menu {
    display: none;
  }
}

@media screen and (min-width: 565px) and (max-width: 959px) {
}

@media screen and (min-width: 961px) {
  .Header {
    .desktop_menu {
      display: flex;
      padding: 10px;
      border-bottom: solid 1px rgba(224, 224, 224, 1);
      font-size: 30px;
      align-items: center;
      > a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        margin-right: 40px;
      }
      > a > img {
        width: 80px;
      }
    }
    .mobile_menu {
      display: none;
    }
  }
}
