.Products {
  table.MuiTable-root.makeStyles-table-3 {
    min-width: unset;
  }
  span.MuiButtonBase-root.MuiTableSortLabel-root {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
  }
  .MuiRating-root {
    font-size: 1rem;
    cursor: unset;
  }
  td.rating {
    text-align: right;
  }
}

@media screen and (min-width: 565px) and (max-width: 959px) {
  .MuiTableRow-root {
    height: 6.8vh;
  }
}

@media screen and (min-width: 961px) {
  .Products {
    width: 100%;
  }
}
